html, body {
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	font-family:"Cabin",sans-serif;
}

#header {
	background: #131316 none repeat scroll;
	padding: 0.75rem;
	height: 1.5rem;
	font-size: 0.75rem;
}

.title {
	color: white;
	margin: 0px;
	padding: 0px;
	font-size: 22px;
}

h3 {
	padding: 0px;
	margin: 0px;
}

#leftSide {
	width:300px;
	height:literal("calc(100% - 6rem)");
	float:left;
	background-color:#242429;
	padding:0px;
	margin:0px;
	clear:both;
	overflow-y:auto;
}

#help {
	color:#c0c0c0;
	background-color:#242429;
}

#helpContent {
	background-color:#2E2E34;
	height:100%;
	color:#9696A2;
	line-height:1.5em;
	padding:10px;
	font-size:14px;
}

.subTitle {
	font-size: 16px;
	padding: 10px;
}

#editor {
	background:#F2F2F3 none repeat scroll;
	padding:0px;
	margin:0px;
	overflow:auto;
	height:literal("calc(100% - 6rem)");
}

#regEx {
	background-color:#ae0000;
}

#textfieldRegEx {
	background-color: grey;
}

#text {
	background-color:#BCBCC4;
}

#textfieldText {
	background-color: #ff8000;
}

.gwt-TextBox {
	box-sizing:border-box;
}

.gwt-TextArea {
	resize:none;
	box-sizing:border-box;
}

.gwt-DecoratorPanel {
	width:100%;
	height:100%;
}

.middleCenter {
	width:100%;
	height:100%;
}

#astTreeView {
	float:left;
	width:100%;
}

#fixRegEx {
	background-color:#BCBCC4;
}

#ast {
	background-color:#BCBCC4;
}

#footer {
	background-color:#131316;
    width:100%;
	color:white;
	clear:both;
	height:3rem;
}

#subFooter {
	overflow:auto;
	padding-left:0.75rem;
	padding-right:0.75rem;
	padding-top:0.75rem;
}

#footerLeft {
	float:left;
}

#footerRight {
	float:right;
}